{
  "extends": "@raag/eslint-config-vue",
  "rules": {
    "vue/require-default-prop": "off",
    "unicorn/explicit-length-check": "off",
    "vue/no-lone-template": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
