@use "sass:math";

@import './common/var.scss';
@import './mixins/mixins.scss';

@include b(popper) {
  color: $--color-white;
  padding: $--popper-padding;
  background-color: $--color-black;
  border-radius: $--popper-border-radius;
  transition: $--fade-transition;
  font-size: $--font-size-small;
  user-select: none;

  @include e(arrow) {
    width: 8px;
    height: 8px;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      transform: rotate(45deg);
      background-color: $--color-black;
    }
  }

  &[data-popper-placement^='top'] > .#{$namespace}-popper__arrow {
    bottom: -4px;
  }

  &[data-popper-placement^='bottom'] > .#{$namespace}-popper__arrow {
    top: -4px;
  }

  &[data-popper-placement^='left'] > .#{$namespace}-popper__arrow {
    right: -4px;
  }

  &[data-popper-placement^='right'] > .#{$namespace}-popper__arrow {
    left: -4px;
  }

  @at-root &.#{$namespace}-fade-in-linear-enter-from,
    &.#{$namespace}-fade-in-linear-leave-to {
    opacity: 0;
  }
}
