@use "sass:math";

@import './common/var.scss';
@import './mixins/mixins.scss';

@include b(tab-bar) {
  height: $--tabs-bar-height;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: $--color-primary;
  transition: $--all-transition;
}
