@use "sass:math";

@import './common/var.scss';
@import './mixins/mixins.scss';

@include b(tabs) {
  height: max-content;

  @include when(border-card) {
    border: 1px solid $--border-color-light;
    box-shadow: $--box-shadow-light;
    border-radius: 4px;
    overflow: hidden;
  }

  @include e(wrap) {
    width: 100%;
    height: max-content;
    margin-bottom: 15px;
    display: flex;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: $--tabs-bar-height;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: $--tabs-bar-track;
    }

    @include when(card) {
      border-bottom: 1px solid $--border-color-light;
      &::after {
        content: none;
      }
    }

    @include when(border-card) {
      border-bottom: 1px solid $--border-color-light;
      background-color: $--background-color-base;

      &::after {
        content: none;
      }
    }

    @include e(scroll) {
      max-width: 100%;
      height: max-content;
      overflow: hidden;
      user-select: none;
      margin-bottom: -1px;

      @include e(nav) {
        display: flex;
        position: relative;
        width: max-content;

        @include when(card) {
          border: 1px solid $--border-color-light;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom: none;
          overflow: hidden;

          & > div:last-child {
            border-right: 0;
          }

          @include when(scroll) {
            & > div:last-child {
              border-right: 1px solid $--border-color-light;
            }
          }
        }

        @include when(border-card) {
          & > div:first-child {
            border-left: 1px solid transparent;
          }

          @include when(scroll) {
            & > div:first-child {
              border-left: 1px solid $--border-color-light;
            }
          }
        }
      }
    }
  }

  @include e(content) {
    padding: $--tabs-padding;

    @include when(border-card) {
      padding: $--tabs-border-content-padding;
    }
  }

  .#{$namespace}-icon-arrow-left,
  .#{$namespace}-icon-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    cursor: pointer;
  }
}
