@use "sass:math";

@import './mixins/_button';
@import './mixins/mixins';
@import './common/var';

@include b(button) {
  font-weight: $--button-font-weight;
  padding: #{$--button-padding-vertical} #{$--button-padding-horizontal};
  cursor: pointer;
  font-size: $--button-font-size;
  border-radius: $--button-border-radius;
  overflow: hidden;
  outline: none;
  user-select: none;

  @include when(round) {
    border-radius: 25px;
  }

  @include when(circle) {
    border-radius: 50%;
    padding: 15px;
  }
  // type
  @include m(default) {
    border: 1px solid $--button-default-border-color;
    color: $--button-default-font-color;
    background-color: $--button-default-background-color;

    &:focus {
      background-color: $--ripple-background-color;
      color: $--button-primary-border-color;
    }

    @include when(disabled) {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $--button-default-border-color;
        background-color: mix(
          $--color-white,
          $--button-default-background-color
        );
        border-color: mix($--color-white, $--button-default-border-color);
        cursor: not-allowed;
      }
    }

    @include when(plain) {
      background-color: $--color-white;

      &:focus {
        color: $--button-primary-border-color;
        border-color: mix($--color-white, $--button-primary-border-color);
      }
    }
  }

  @include m(primary) {
    @include button-type(
      $--button-primary-border-color,
      $--button-primary-font-color,
      $--button-primary-background-color
    );
  }

  @include m(success) {
    @include button-type(
      $--button-success-border-color,
      $--button-success-font-color,
      $--button-success-background-color
    );
  }

  @include m(warning) {
    @include button-type(
      $--button-warning-border-color,
      $--button-warning-font-color,
      $--button-warning-background-color
    );
  }

  @include m(danger) {
    @include button-type(
      $--button-danger-border-color,
      $--button-danger-font-color,
      $--button-danger-background-color
    );
  }

  @include m(info) {
    @include button-type(
      $--button-info-border-color,
      $--button-info-font-color,
      $--button-info-background-color
    );
  }

  @include m(text) {
    border: none;
    background-color: transparent;
    color: mix($--color-white, $--button-primary-background-color, 60%);

    &:active {
      color: $--button-primary-background-color;
    }

    @include when(disabled) {
      color: mix($--color-white, $--button-primary-background-color, 40%);
      cursor: not-allowed;
    }
  }

  // size
  @include m(medium) {
    @include button-size(
      $--button-medium-font-size,
      $--button-medium-padding-vertical,
      $--button-medium-padding-horizontal
    );
  }

  @include m(small) {
    @include button-size(
      $--button-small-font-size,
      $--button-small-padding-vertical,
      $--button-small-padding-horizontal,
      $--button-small-border-radius
    );
  }

  @include m(mini) {
    @include button-size(
      $--button-mini-font-size,
      $--button-mini-padding-vertical,
      $--button-medium-padding-horizontal,
      $--button-mini-border-radius
    );
  }
}
