@use "sass:math";

@import './mixins/mixins';
@import './common/var';

@include b(carousel) {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

  @include e(arrow) {
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;

    @include m(left) {
        left: 16px;
    }
    @include m(right) {
        right: 16px;
    }
  }
}
