@use "sass:math";


@import './mixins/mixins';
@import './common/var';

@include b(carousel) {
    @include e(carousel-item){
         flex-basis: 100%;
         flex-shrink: 0;
         display: flex;
         align-content:center;
         justify-content: center;
    }
}