@use "sass:math";

@import './mixins/mixins';
@import './common/var';

@include b(carousel) {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  @include e(arrow) {
    z-index: 2;
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    font-size: $--carousel-arrow-font-size;
    background-color: $--carousel-arrow-background;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    width: $--carousel-arrow-size;
    height: $--carousel-arrow-size;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
    // overflow: hidden;

    @include m(left) {
      left: 16px;
    }

    @include m(right) {
      right: 16px;
    }
  }

  @include e(indicator) {
    position: absolute;
    display: flex;
    cursor: pointer;

    @include m(horizontal) {
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include m(vertical) {
      right: 6px;
      top: 50%;
      transform-origin: 100% 50%;
      transform: rotate(90deg) translateX(50%);
    }

    @include e(item) {
      padding: $--carousel-indicator-padding;

      @include e(button) {
        border: none;
        background-color: $--carousel-indicator-color;
        height: $--carousel-indicator-height;

        @include m(horizontal) {
          width: $--carousel-indicator-width;
        }

        @include m(vertical) {
          width: $--carousel-indicator-vertical-width;
        }

        @include when(active) {
          transform-origin: 0% 50%;
          transition: transform 0.3s ease-in-out;
          transform: scale($--carousel-indicator-active-scale);
          background-color: $--carousel-indicator-active-color;
        }
      }
    }
  }
}

.carousel-arrow-left-enter-from,
.carousel-arrow-left-leave-active {
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
}

.carousel-arrow-right-enter-from,
.carousel-arrow-right-leave-active {
  transform: translateY(-50%) translateX(10px);
  opacity: 0;
}
