@use "sass:math";

@import './mixins/mixins';
@import './common/var';

@include b(carousel) {
  @include e(carousel-item) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in-out;

    @include when(animating) {
        transition: transform .4s ease-in-out;
      }
  }
}
