@use "sass:math";

@import './common/var.scss';
@import './mixins/mixins.scss';

@include b(modal) {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .1);


  @include e(content) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
    padding: $--modal-padding-primary;
    border: 1px;
    box-shadow: $--modal-box-shadow;
    background-color: $--modal-background-color;
    font-size: $--modal-content-font-size;
    transition: $--all-transition;
  }

  @include e(title) {
    font-size: $--modal-title-font-size;
  }
}

.#{$namespace}-modal-fade-enter-from,
.#{$namespace}-modal-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%);
}
