@use "sass:math";

@import './common/var.scss';
@import './mixins/mixins.scss';

@include b(tab-panel) {
  height: max-content;
  padding: $--tabs-padding;

  @include e(wrap) {
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      color: $--color-primary;
    }

    @include when(active) {
      color: $--color-primary;
    }
  }
}
