@use '@radium-vue/theme-chalk/src/mixins/config.scss';
@import './color.scss';

.demo_tooltip {
  .#{$namespace}-button {
    margin-right: 10px;
  }

  .top {
    display: inline-block;
    vertical-align: top;
  }

  .bottom {
    margin-left: 80px;
  }

  .left,
  .right {
    padding-top: 50px;
    width: max-content;
    display: inline-flex;
    flex-direction: column;

    .#{$namespace}-button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
