* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

div#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//demo_block

.demo_block {
  $font-color: #606266;
  $font-title-color: #000;
  $border-color: #dcdfe6;
  z-index: 999;

  h1,
  h2,
  h3,
  h4 {
    margin-top: 50px;
    padding: 10px 0px 10px 5px;
    color: #000;
    font-weight: 400;
  }

  p {
    color: $font-color;
    font-size: 12px;
    & > code {
      background-color: #f9fafc;
      padding: 0 4px;
      border: 1px solid #eaeefb;
      border-radius: 4px;
    }
  }

  table {
    width: 100%;
    height: max-content;
    border-collapse: unset;
    border: none;
    border-spacing: unset;

    th,
    td {
      border-bottom: 1px solid $border-color;
      line-height: 40px;
      text-align: left;
    }

    th {
      color: $font-title-color;
      font-size: 13px;
      font-weight: 400;
    }

    td {
      color: $font-color;
      font-size: 12px;
    }
  }
}
